@charset "utf-8";

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src:local(NotoSans),
		url('../fonts/NotoSansKR-Thin.woff') format('woff');
}
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src:local(NotoSans),
		url('../fonts/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src:local(NotoSans),
		url('../fonts/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 700;
	src:local(NotoSans),
		url('../fonts/NotoSansKR-Bold.woff') format('woff');
}
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 900;
	src:local(NotoSans),
		url('../fonts/NotoSansKR-Black.woff') format('woff');
}
