@charset "utf-8";

/*********************************************************************************************************
	@font -face
*********************************************************************************************************/
/* SpoqaHanSansNeo */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 400;
    src: local('SpoqaHanSansNeo Regular'),
    url('../../fonts/spoqaHanSans/SpoqaHanSansNeo-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 500;
    src: local('SpoqaHanSansNeo Medium'),
    url('../../fonts/spoqaHanSans/SpoqaHanSansNeo-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 700;
    src: local('SpoqaHanSansNeo Bold'),
    url('../../fonts/spoqaHanSans/SpoqaHanSansNeo-Bold.woff2') format('woff2');
}

/* NotoSans */
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 400;
	src:
		url("../../fonts/NotoSansKR-Regular.woff2") format("woff2")
}
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 500;
	src:
		url("../../fonts/NotoSansKR-Medium.woff2") format("woff2")
}
@font-face {
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 700;
	src:
		url("../../fonts/NotoSansKR-Bold.woff2") format("woff2")
}
