@charset "utf-8";

/*********************************************************************************************************
	상품 목록
*********************************************************************************************************/

/* 상품 배너 */
.swiper_banner {margin:16px 0 0;}
.swiper_banner:first-child,
.blind:first-child + .swiper_banner {margin-top:0;}
.swiper_banner .swiper-slide {padding:0 8px;}
.swiper_banner .swiper-slide-active {padding:0;}
[class^="bnr_wrap"] {position:relative;height:213px;}
[class^="bnr_wrap"] .inner {position:absolute;top:0;left:0;bottom:0;width:100%;padding:24px;color:#000;box-sizing:border-box;border-radius:12px;}
[class^="bnr_wrap"] .inner:after {content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid rgba(0,0,0,0.04);border-radius:12px;}
[class^="bnr_wrap"] .img {overflow:hidden;position:absolute;right:24px;bottom:24px;}
[class^="bnr_wrap"] .img img {max-width:100%;height:87px;}
[class^="bnr_wrap"] .tit_wrap {width:calc(100% - 80px);}
[class^="bnr_wrap"] .tit_wrap .tit {display:block;line-height:28px;font-size:20px;font-weight:bold;}
[class^="bnr_wrap"] .tit_wrap .desc {display:block;margin-top:8px;line-height:20px;font-size:13px;}
[class^="bnr_wrap"] .cont_wrap {position:absolute;width:50%;bottom:24px;left:24px;}
[class^="bnr_wrap"] .txt_per {line-height:24px;font-size:0;}
[class^="bnr_wrap"] .txt_per span {display:inline-block;line-height:24px;font-size:14px;vertical-align:top;}
[class^="bnr_wrap"] .lab {margin-right:8px;}
[class^="bnr_wrap"] .per {font-size:16px;font-weight:500;line-height:24px;}
[class^="bnr_wrap"] .per [class^="num"] {display:inline-block;font-size:24px;font-weight:bold;color:#d21300;}
[class^="bnr_wrap"] .txt_refer {display:block;font-size:12px;line-height:20px;}

.bnr_wrap01 .inner {background-image:linear-gradient(to bottom, #ced8eb, #fff);border-color:#fff3f2;}
.bnr_wrap02 .inner  {background-image:linear-gradient(to bottom, #d9f4f1, #fff);border-color:#fff2eb;}
.bnr_wrap03 .inner  {background-image:linear-gradient(to bottom, #d8e9ff, #fff);border-color:#fff3e8;}
.bnr_wrap04 .inner  {background-image:linear-gradient(to bottom, #f6e4e2, #fff);border-color:#e1fae3;}
.bnr_wrap05 .inner  {background-image:linear-gradient(to bottom, #e1e1f7, #fff);border-color:#eef4ff;}

/* 상품 리스트  */
.mall_list {padding-top:32px;}
.mall_list .tab_list_wrap02 {margin:40px -24px 24px;}
.mall_list .tab_list_wrap02 .tab_list > li a em,
.mall_list .tab_list_wrap02 .tab_list > li button em {padding:4px 12px;}

/* 상품 카드 */
.info_product_wrap {position:relative;padding-right:60px;}
.info_product_wrap .img {float:left;width:48px;height:48px;margin-right:12px;background-position:50% 50%;background-size:100% auto;}
.info_product_wrap .tit_wrap {overflow:hidden;}
.info_product_wrap .tit_wrap .tit {display:block;line-height:24px;font-size:16px;color:#000;font-weight:500;}
.info_product_wrap .tit_wrap .desc {display:block;margin-top:4px;line-height:18px;color:#999;}
.info_product_wrap .img + .tit_wrap {min-height:68px;}
.info_product_wrap .cont_wrap {margin-top:12px;}
.info_product_wrap .txt_per {font-size:0;color:#000;}
.info_product_wrap .txt_per span {display:inline-block;line-height:24px;vertical-align-top;}
.info_product_wrap .txt_per .lab {margin-right:8px;font-size:12px;}
.info_product_wrap .txt_per .per {font-size:16px;font-weight:bold;}
.info_product_wrap [class^="btn_tiny"] {position:absolute;bottom:0;right:0;}
.info_product_wrap [class^="btn_like"] {position:absolute;top:0;right:0;}

/* 상품 비교 */
[class^="compare_wrap"] {position:fixed;top:101px;left:0;right:0;text-align:center;line-height:20px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
[class^="compare_wrap"] .tit_compare {display:block;position:relative;width:100%;padding:8px 0;font-size:0;background:#f8f8f8;}
[class^="compare_wrap"] .tit_compare .tit {display:inline-block;line-height:20px;font-size:14px;color:#666;font-weight:bold;vertical-align:middle;}
[class^="compare_wrap"] .tit_compare .num {display:inline-block;min-width:20px;margin-left:4px;line-height:20px;font-size:13px;font-weight:500;vertical-align:middle;color:#cb2b11;border-radius:20px;background:#f9e9e7;}
[class^="compare_wrap"] .tit_compare:after {content:"";position:absolute;top:50%;right:24px;width:24px;height:24px;margin-top:-12px;background:url(/resource/img/mbe/common/arrow_accordion_open.png) no-repeat center / 24px 24px;}
[class^="compare_wrap"] .tit_compare.active:after {background-image:url(/resource/img/mbe/common/arrow_accordion_close.png);}
[class^="compare_wrap"] [class^="cont_compare"] {display:none;padding:8px 24px 24px;background:#f8f8f8;box-shadow:0 4px 20px -2px rgba(22,23,29,.2)}
[class^="compare_wrap"] .list_compare_product {display:flex;justify-content:space-between;}
[class^="compare_wrap"] .list_compare_product > li {width:50%;box-sizing:border-box;}
[class^="compare_wrap"] .list_compare_product > li:first-child {padding-right:24px;}
[class^="compare_wrap"] .list_compare_product > li:last-child {padding-left:24px;border-left:1px solid #e7e7e7;}
[class^="compare_wrap"] .inner {position:relative;}
[class^="compare_wrap"] .inner .tit {display:block;width:100%;font-size:13px;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
[class^="compare_wrap"] .inner .btn_del02 {position:absolute;top:-8px;right:-8px;font-size:0;line-height:0;background-color:#fff;border-radius:100%;box-shadow:0 4px 8px -2px rgba(22,23,29,.2);}
[class^="compare_wrap"] .info_compare_product,
[class^="compare_wrap"] .btn_compare_add {display:flex;height:90px;border-radius:8px;flex-direction:column;justify-content:center;align-items:center;}
[class^="compare_wrap"] .info_compare_product {color:#fff;}
[class^="compare_wrap"] .inner.empty .btn_compare_add {width:100%;font-size:13px;font-weight:bold;color:#bebebe;background:#fff;box-shadow:0 4px 8px -2px rgba(22,23,29,.2);}
[class^="compare_wrap"] .inner.empty .btn_compare_add:before {display:block;content:"";width:32px;height:32px;margin:0 auto 4px;background:url(/resource/img/mbe/mall/ico_mall_add.png) no-repeat center / 32px;}
[class^="compare_wrap"] .info_compare_product .desc {display:block;margin-top:4px;font-size:12px;}
[class^="compare_wrap"] .btn_compare_wrap {margin-top:20px;}
[class^="compare_wrap"] .btn_compare_wrap .btn_func02 {background-color:#d21300;border-color:#d21300;}
[class^="compare_wrap"] .btn_compare_wrap .btn_func02 span {color:#fff;}
[class^="compare_wrap"] .btn_compare_wrap .btn_func02:disabled {background-color:#ddd;border-color:#ddd;}
[class^="compare_wrap"] .cont_compare02 .info_compare_product {height:auto;}
[class^="compare_wrap"] .cont_compare02 .img {display:block;}
[class^="compare_wrap"] .cont_compare02 .img img {max-width:100%;height:64px;object-fit:cover;}
[class^="compare_wrap"] .cont_compare02 .tit {margin-top:12px;color:#111;font-weight:500;}
[class^="compare_wrap"] .cont_compare02 .btn_del02 {left:calc(50% + 40px);right:auto;}
[class^="compare_wrap"] .cont_compare02 .inner.empty .btn_compare_add {width:100px;height:64px;margin:0 auto;font-size:0;line-height:0;}
[class^="compare_wrap"] .cont_compare02 .inner.empty .btn_compare_add:before {margin-bottom:0;}
[class^="compare_wrap"] .cont_compare02 .inner.empty .tit {color:#999;}
[class^="compare_wrap"] .cont_compare02 .btn_compare_wrap {margin-top:14px;}
/* 선택상품비교 */
[class^="compare_details_wrap"] {margin:-24px -24px 0;}
[class^="compare_details_wrap"] .compare_details_hd {padding:14px 24px;font-size:0;}
[class^="compare_details_wrap"] .compare_details_hd:before {display:inline-block;content:"";width:20px;height:20px;margin-right:4px;background-position:center;background-repeat:no-repeat;background-size:100%;vertical-align:top;}
[class^="compare_details_wrap"] .compare_details_hd .tit {display:inline-block;font-size:16px;font-weight:500;color:#fff;line-height:20px;vertical-align:top;}
[class^="compare_details_wrap"] .compare_details_cont {text-align:center;}
[class^="compare_details_wrap"] .tit_compare_box {display:block;padding:8px 24px;font-size:14px;line-height:24px;background:#f8f8f8;}
[class^="compare_details_wrap"] .cont_compare_box {display:flex;justify-content:space-between;font-size:13px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
[class^="compare_details_wrap"] .item_compare {width:50%;min-height:68px;padding:24px 16px;line-height:20px;box-sizing:border-box;}
[class^="compare_details_wrap"] .item_compare + .item_compare {border-left:1px solid #e7e7e7;}
[class^="compare_details_wrap"] .item_compare .tit {display:block;width:100%;color:#111;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
[class^="compare_details_wrap"] .item_compare .link_details {display:inline-block;margin-top:12px;padding:0 8px;line-height:28px;color:#fff;border-radius:4px;background:#333;}
[class^="compare_details_wrap"] .item_compare .img {display:block;}
[class^="compare_details_wrap"] .item_compare .img img {max-width:100%;max-height:64px;}
[class^="compare_details_wrap"] .item_compare .img + .tit {margin-top:12px;}
.compare_details_wrap01 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare01.png);}
.compare_details_wrap02 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare03.png);}
.compare_details_wrap03 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare02.png);}
.compare_details_wrap04 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare06.png);}
.compare_details_wrap05 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare05.png);}
.compare_details_wrap06 .compare_details_hd:before {background-image:url(/resource/img/mbe/mall/ico_compare04.png);}

.compare_wrap01 .info_compare_product,
.compare_details_wrap01 .compare_details_hd {background:#3e5074;}
.compare_wrap02 .info_compare_product,
.compare_details_wrap02 .compare_details_hd  {background:#249b91;}
.compare_wrap03 .info_compare_product,
.compare_details_wrap03 .compare_details_hd  {background:#4385cf;}
.compare_wrap04 .info_compare_product,
.compare_details_wrap04 .compare_details_hd  {background:#a25954;}
.compare_wrap05 .info_compare_product,
.compare_details_wrap05 .compare_details_hd  {background:#6463ad;}
.compare_wrap06 .info_compare_product,
.compare_details_wrap06 .compare_details_hd  {background:#5386a1;}

/*********************************************************************************************************
	추천 상품
*********************************************************************************************************/
/* 관심상품/이어하기 링크 */
.mall_top_quick {margin-top:-16px;}
.mall_top_quick .inner {display:flex;justify-content:center;padding:0 20px;background:#f8f8f8;border:1px solid #e7e7e7;border-radius:20px;font-size:13px;line-height:38px;text-align:center;}
.mall_top_quick .link {display:inline-block;padding:0 4px;line-height:1;vertical-align:top;font-size:0;}
.mall_top_quick .lab {display:inline-block;line-height:38px;font-size:14px;color:#666;text-decoration:underline;}
.mall_top_quick .num {display:inline-block;width:20px;height:20px;margin-left:4px;line-height:20px;background:#f9e9e7;border-radius:100%;font-size:13px;font-weight:500;color:#cb2b11;}
/* 분류별 목록 링크 */
.mall_recomm_cate {margin-top:32px;}
.mall_recomm_cate > ul {margin:0 -8px;font-size:0;}
.mall_recomm_cate > ul > li {display:inline-block;width:50%;padding:0 8px;box-sizing:border-box;vertical-align:top;}
.mall_recomm_cate > ul > li:nth-child(n+3) {margin-top:16px;}
.mall_recomm_cate .inner {display:block;padding:16px 20px;background:#fff;border:1px solid #eee;border-radius:12px;box-shadow:0 0 12px 0 rgba(0,0,0,0.04);}
.mall_recomm_cate .sup {color:#666;}
.mall_recomm_cate .tit {display:block;position:relative;padding-left:28px;font-size:18px;line-height:28px;font-weight:500;}
.mall_recomm_cate .tit:before {content:"";position:absolute;top:4px;left:0;width:20px;height:20px;background-position:50% 50%;background-repeat:no-repeat;background-size:100%;}
.mall_recomm_cate .item01 .tit:before {background-image:url(/resource/img/mbe/mall/ico_category01.png);}
.mall_recomm_cate .item02 .tit:before {background-image:url(/resource/img/mbe/mall/ico_category02.png);}
.mall_recomm_cate .item03 .tit:before {background-image:url(/resource/img/mbe/mall/ico_category03.png);}
.mall_recomm_cate .item04 .tit:before {background-image:url(/resource/img/mbe/mall/ico_category04.png);}
/* 급상승 인기상품 */
.mall_recomm_hot {margin:32px -24px 0;padding:32px 24px 0;border-top:1px solid #eee;}
.mall_list_hot {counter-reset:number 0;}
.mall_list_hot > li + li {margin-top:14px;}
.mall_list_hot .inner {display:flex;position:relative;padding:4px 0 4px 24px;line-height:26px;justify-content:space-between;}
.mall_list_hot .inner:before {content:counter(number);position:absolute;top:4px;left:0;font-size:18px;color:#d21300;font-weight:bold;counter-increment:number 1;}
.mall_list_hot .tit_item {font-size:16px;font-weight:500;}
.mall_list_hot .info_item {flex-shrink:0;font-size:12px;color:#000;line-height:26px;}
.mall_list_hot .info_item dl {display:inline-block;position:relative;padding-left:20px;}
.mall_list_hot .info_item dt {position:absolute;top:5px;left:0;width:16px;height:16px;background-position:50% 50%;background-repeat:no-repeat;background-size:100%;font-size:0;line-height:0;}
.mall_list_hot .info_item .info_hit {min-width:50px;}
.mall_list_hot .info_item .info_hit dt {background-image:url(/resource/img/mbe/mall/ico_view.png);}
.mall_list_hot .info_item .info_like {min-width:24px;}
.mall_list_hot .info_item .info_like dt {background-image:url(/resource/img/mbe/mall/ico_view_like.png);}

/*********************************************************************************************************
	상품 상세
*********************************************************************************************************/
/* 상품몰 상세 플래그 */
[class^="flag_mall"] {padding:2px 8px;line-height:16px;font-size:12px;color:#fff;border:none;border-radius:10px;}
[class^="flag_mall"] + [class^="flag_mall"] {margin-left:4px;}
/* 상단 비주얼 가이드  */
[class^="mall_visual_box"] {position:relative;margin:-24px -24px 40px;padding:48px 24px 0;box-sizing:border-box;background-repeat:no-repeat;background-position:center;background-size:100% 100%;}
[class^="mall_visual_box"] .sup_wrap {padding:2px 68px 16px 0;font-size:0;}
[class^="mall_visual_box"] [class^="tit_wrap"] {color:#fff;}
[class^="mall_visual_box"] [class^="tit_wrap"]:first-child {padding-right:60px;}
[class^="mall_visual_box"] [class^="tit_wrap"] .tit {display:block;line-height:34px;font-size:28px;font-weight:700;}
[class^="mall_visual_box"] [class^="tit_wrap"] .desc {display:block;margin-top:16px;line-height:24px;font-size:16px;}
[class^="mall_visual_box"] .tit_wrap02 {color:#111;}
[class^="mall_visual_box"] .cont_wrap {position:absolute;bottom:24px;left:20px;right:20px;}
[class^="mall_visual_box"] .ico_txt_box {margin:58px 0 0;}
[class^="mall_visual_box"] .ico_txt_box [class^="sub_txt"] {position:relative;margin:20px 0 0;padding:0 0 0 38px;font-size:13px;color:#fff;}
[class^="mall_visual_box"] .ico_txt_box [class^="sub_txt"]:first-child {margin:0;}
[class^="mall_visual_box"] .ico_txt_box [class^="sub_txt"]:before {display:block;content:'';position:absolute;left:0;top:50%;width:24px;height:24px;margin:-12px 0 0;background:url(/resource/img/mbe/mall/ico_prod_detail09_01.png) no-repeat center / 100% auto;}
[class^="mall_visual_box"] .ico_txt_box .sub_txt02:before {background:url(/resource/img/mbe/mall/ico_prod_detail09_02.png) no-repeat center / 100% auto;}
[class^="mall_visual_box"] .ico_txt_box .sub_txt03:before {background:url(/resource/img/mbe/mall/ico_prod_detail09_03.png) no-repeat center / 100% auto;}
[class^="mall_visual_box"] .ico_txt_box02 {display:flex;align-items:flex-start;justify-content:center;margin:40px 0 0;}
[class^="mall_visual_box"] .ico_txt_box02 [class^="sub_txt"] {padding:0;line-height:20px;font-size:14px;font-weight:500;color:#111;text-align:center;}
[class^="mall_visual_box"] .ico_txt_box02 [class^="sub_txt"]:before {display:block;content:"";width:65px;height:65px;margin:0 0 12px;border-radius:100%;background-repeat:no-repeat;background-position:center;background-size:24px;background-color:#fff;}
[class^="mall_visual_box"] .ico_txt_box02 [class^="sub_txt"] + [class^="sub_txt"] {margin:0 0 0 48px;}
[class^="mall_visual_box"] .ico_txt_box02 [class^="sub_txt"] + [class^="sub_txt"] span {font-size:12px;}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt01_01:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail01_01.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt01_02:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail01_02.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt01_03:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail01_03.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt02_01:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail02_01.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt02_02:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail02_02.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt02_03:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail02_03.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt03_01:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail03_01.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt03_02:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail03_02.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt03_03:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail03_03.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt04_01:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail04_01.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt04_02:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail04_02.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt04_03:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail04_03.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt05_01:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail05_01.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt05_02:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail05_02.png);}
[class^="mall_visual_box"] .ico_txt_box02 .sub_txt05_03:before {background-image:url(/resource/img/mbe/mall/ico_prod_detail05_03.png);}
[class^="mall_visual_box"] [class^="info_card"] {display:flex;width:100%;margin-top:20px;justify-content:center;align-items:center;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card {line-height:20px;font-size:0;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card +.item_info_card {margin-left:8px;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card + [class^="btn_link"] {margin-left:16px;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card [class^="ico_"] {display:inline-block;height:20px;font-size:0;line-height:0;vertical-align:top;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card [class^="lab"] {display:inline-block;padding-left:4px;font-size:12px;line-height:20px;vertical-align:top;color:#111;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card [class^="lab"]:first-child {padding-left:0;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card .ico_card_bc {width:20px;background:url(/resource/img/mbe/mall/ico_bc.png) no-repeat left center / 100% auto;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card .ico_card_master {width:26px;background:url(/resource/img/mbe/mall/ico_master.png) no-repeat left center / 100% auto;}
[class^="mall_visual_box"] [class^="info_card"] .item_info_card .ico_card_visa {width:37px;background:url(/resource/img/mbe/mall/ico_visa.png) no-repeat left center / 100% auto;}
[class^="mall_visual_box"] .ico_txt_box02 li + li {margin:24px 0 0;}
[class^="mall_visual_box"] [class^="mall_visual_img"] {width:320px;height:145px;margin:32px auto 0;background-position:center;background-repeat:no-repeat;background-size:100% auto;}
[class^="mall_visual_box"] .mall_visual_img01 {background-image:url(/resource/img/mbe/mall/prod_visual01.png);}
[class^="mall_visual_box"] .mall_visual_img02 {background-image:url(/resource/img/mbe/mall/prod_visual02.png);}
[class^="mall_visual_box"] .mall_visual_img03 {background-image:url(/resource/img/mbe/mall/prod_visual03.png);}
[class^="mall_visual_box"] .mall_visual_img04 {background-image:url(/resource/img/mbe/mall/prod_visual04.png);}
[class^="mall_visual_box"] .mall_visual_img05 {background-image:url(/resource/img/mbe/mall/prod_visual05.png);}
[class^="mall_visual_box"] .mall_visual_img06 {background-image:url(/resource/img/mbe/mall/prod_visual06.png);}
[class^="mall_visual_box"] .mall_visual_img07 {background-image:url(/resource/img/mbe/mall/prod_visual07.png);}
[class^="mall_visual_box"] .mall_visual_img08 {background-image:url(/resource/img/mbe/mall/prod_visual08.png);}
[class^="mall_visual_box"] .mall_visual_img09 {background-image:url(/resource/img/mbe/mall/prod_visual09.png);}
[class^="mall_visual_box"] .mall_visual_img10 {background-image:url(/resource/img/mbe/mall/prod_visual10.png);}
[class^="mall_visual_box"] .mall_visual_img11 {background-image:url(/resource/img/mbe/mall/prod_visual11.png);}
[class^="mall_visual_box"] .mall_visual_img12 {background-image:url(/resource/img/mbe/mall/prod_visual12.png);}
[class^="mall_visual_box"] .mall_visual_img13 {background-image:url(/resource/img/mbe/mall/prod_visual13.png);}
[class^="mall_visual_box"] .mall_visual_img14 {background-image:url(/resource/img/mbe/mall/prod_visual14.png);}
[class^="mall_visual_box"] .mall_visual_img15 {background-image:url(/resource/img/mbe/mall/prod_visual15.png);}
[class^="mall_visual_box"] .mall_visual_img16 {background-image:url(/resource/img/mbe/mall/prod_visual16.png);}
[class^="mall_visual_box"] .mall_visual_card {height:145px;margin:32px auto 0;background-position:center;background-repeat:no-repeat;background-size:auto 100%;}
[class^="mall_visual_box"] .area_btn {position:absolute; top:84px;right:20px;}
[class^="mall_visual_box"] .area_btn button {display:block;}
[class^="mall_visual_box"] .area_btn button + button {margin-top:12px;}
[class^="mall_visual_box"] .arrow_btn {padding-top:60px;}
[class^="mall_visual_box"] .arrow_btn .btn_move {position:absolute;left:calc(50% - 20px);bottom:0;width:40px;height:40px;background:url(/resource/img/mbe/mall/arrow_scroll02.png) no-repeat center / 100% auto;}
/* 기업뱅킹 외 상품 background-color */
.mall_visual_box01 {padding:48px 24px;background-color:#3e5074;}
.mall_visual_box01 .flag_mall {background-color:#1f2e4a;}
.mall_visual_box02 {padding:48px 24px;background-color:#249b91;}
.mall_visual_box02 .flag_mall {background-color:#14726a;}
.mall_visual_box03 {padding:48px 24px;background-color:#4385cf;}
.mall_visual_box03 .flag_mall {background-color:#295789;}
.mall_visual_box04 {padding:48px 24px;background-color:#a25954;}
.mall_visual_box04 .flag_mall {background-color:#682e2a;}
.mall_visual_box05 {padding:48px 24px;background-color:#6463ad;}
.mall_visual_box05 .flag_mall {background-color:#343363;}
/* 기업뱅킹 상품 background-color */
.mall_visual_box06 {background-image:linear-gradient(to bottom, #ffeeee, #fff);}
.mall_visual_box06 .flag_mall {background-color:#d21300;}
.mall_visual_box07 {background-image:linear-gradient(to bottom, #ffeee5, #fff);}
.mall_visual_box07 .flag_mall {background-color:#a13939;}
.mall_visual_box08 {background-image:linear-gradient(to bottom, #fff7d8, #fff);}
.mall_visual_box08 .flag_mall {background-color:#f68e00;}
.mall_visual_box09 {background-image:linear-gradient(to bottom, #e4fae6, #fff);}
.mall_visual_box09 .flag_mall {background-color:#548d5a;}
.mall_visual_box10 {background-image:linear-gradient(to bottom, #e5ecff, #fff);}
.mall_visual_box10 .flag_mall {background-color:#6272ad;}

/* 하단 컨텐츠 영역 */
.list_tit_box {display:block;margin:0 0 24px;line-height:28px;text-align:center;font-size:18px;font-weight:500;color:#111;}
.list_tit_box .tit {display:inline-block;margin:0;vertical-align:middle;line-height:28px;font-size:18px;font-weight:700;}
[class^="mall_mssg_info"] {display:block;position:relative;margin:0 0 40px;padding:0 0 0 24px;font-size:14px;color:#000;}
[class^="mall_mssg_info"]:before {display: block;content: "";position:absolute;left:0;top:2px;width:16px;height:16px;background:url(/resource/img/mbe/common/ico_info.png) no-repeat center / 100% auto;}
[class^="top_visual_box_"] + [class^="mall_mssg_info"] {margin:8px 0 24px}

/* 카드 브랜드 선택 */
[class="service_btn_box"] [class^="service_btn"] [class^="ico_card_"]:before {height:20px;}
[class="service_btn_box"] [class^="service_btn"] .ico_card_bc:before {width:20px;background:url(/resource/img/mbe/mall/ico_bc.png) no-repeat left center / 100% auto;}
[class="service_btn_box"] [class^="service_btn"] .ico_card_master:before {width:26px;background:url(/resource/img/mbe/mall/ico_master.png) no-repeat left center / 100% auto;}
[class="service_btn_box"] [class^="service_btn"] .ico_card_visa:before {width:37px;background:url(/resource/img/mbe/mall/ico_visa.png) no-repeat left center / 100% auto;}

/* KDIC 이미지 */
.kdic_img {display:block;width:92px;height:60px;background:url(/resource/img/mbe/mall/ico_kdic.png) no-repeat center / 100% auto;}

/* 유의사항 및 준법 텍스트 / blit */
.mall_area_txt {margin:40px 0 0;}
.mall_area_txt .txt {margin:16px 0 0;}
.bg_txt_box + [class^="txt_blit"] {margin:16px 0 0;}

/* 추천상품 타이틀 */
[class^="tit_recomm_box"] {margin:0 0 16px;}
[class^="tit_recomm_box"] .tit {display:block;margin:32px 0 12px;line-height:28px;font-size:18px;font-weight:500;color:#111;}
[class^="tit_recomm_box"] .tit {display:inline-block;margin:0;vertical-align:middle;}

/* 컨텐츠 영역 */
[class^="ico_list_box"] {margin:40px 0;}
.list_tit_box + [class^="ico_list_box"] {margin:0;}
[class^="ico_list_box"] .list_view {border:none;}
[class^="ico_list_box"] .list_view > li {padding:0;border:none;}
[class^="ico_list_box"] .list_view > li + li {margin-top:16px;}
[class^="ico_list_box"] .list_view [class^="inner_box"] {display:flex;padding:16px;background:#fff;border:1px solid #f2f2f2;border-radius:12px;box-shadow:0 0 12px rgba(0,0,0,0.04);color:#111;}
[class^="ico_list_box"] .list_view .inner_box_02 {justify-content:center;font-weight:500;}
[class^="ico_list_box"] .list_view [class^="inner_box"] [class^="ico_"] {display:inline-block;width:24px;height:24px;margin-right:10px;flex-shrink:0;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .txt {font-size:15px;line-height:26px;color:#111;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_gift {background:url(/resource/img/mbe/mall/ico_prod_detail01_01.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_point {background:url(/resource/img/mbe/mall/ico_prod_detail01_02.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_card {background:url(/resource/img/mbe/mall/ico_prod_detail01_03.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_oil {background:url(/resource/img/mbe/mall/ico_prod_detail10_02.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_bus {background:url(/resource/img/mbe/mall/ico_prod_detail10_01.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_point02 {background:url(/resource/img/mbe/mall/ico_prod_detail10_03.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_global {background:url(/resource/img/mbe/mall/ico_prod_detail10_04.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_card02 {background:url(/resource/img/mbe/mall/ico_prod_detail10_05.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_clock {background:url(/resource/img/mbe/mall/ico_prod_detail10_06.png) center center / 24px no-repeat;}
[class^="ico_list_box"] .list_view [class^="inner_box"] .ico_car {background:url(/resource/img/mbe/mall/ico_prod_detail10_07.png) center center / 24px no-repeat;}

/* 저탄소, 내맘대로 컬러박스 영역 */
[class^="color_txt_box"] {margin:24px 0 0;padding:20px;border-radius:12px;text-align:center;}
[class^="color_txt_box"] p {font-size:16px;font-weight:700;}
.color_txt_box_01 {background-color:#f4faf4;}
.color_txt_box_01 p {color:#21902c;}
.color_txt_box_02 {background-color:#fef8f8;}
.color_txt_box_02 p {color:#cb2b11;}
/* one, 희망플러스 3단 카드 */
.action_card_wrap .tit_sub_box {margin:0 0 24px;text-align:center;}
.action_card_wrap .tit_sub_box .tit_sub {font-weight:700;}
.action_card_wrap .action_box {display:flex;align-items:stretch;justify-content:center;}
.action_card_wrap .action_box li {flex:1;position:relative;}
.action_card_wrap .action_box li + li {margin:0 0 0 8px;}
.action_card_wrap .action_box li [class^="card"] {padding:16px 0;font-size:15px;font-weight:500;text-align:center;}
.action_card_wrap .action_box li [class^="card_over"] {position:absolute;top:0;left:0;width:100%;box-sizing:border-box;}
.action_card_wrap .action_box li .card_under01 {border:1px solid #ffc9a7;border-radius:12px;background-color:#fff;box-shadow:0 0 12px 0 rgb(225, 228, 215, 0.5);}
.action_card_wrap .action_box li .card_over01 {font-weight:400;color:#fff;border:1px solid #f75e00;border-radius:12px;background-color:#f75e00;box-shadow:0 0 12px 0 rgb(255, 228, 215, 0.5);}
.action_card_wrap .action_box li .card_under02 {border:1px solid #ffc3d0;border-radius:12px;background-color:#fff;box-shadow:0 0 12px 0 rgb(225, 228, 215, 0.5);}
.action_card_wrap .action_box li .card_over02 {font-weight:400;color:#fff;border:1px solid #f75e00;border-radius:12px;background-color:#ef385f;box-shadow:0 0 12px 0 rgb(255, 228, 215, 0.5);}
/* 온리원 통장 체크아이콘 리스트 영역 */
.list_chk_box {margin:24px 0 40px;padding:20px;border-radius:12px;background-color:#fffcf2;}
.list_chk_box .list_inner {position:relative;padding:0 0 0 32px;}
.list_chk_box .list_inner::before {display:block;content:"";position:absolute;left:0;top:0;width:24px;height:24px;border-radius:50%;background:url(/resource/img/mbe/mall/ico_check.png) no-repeat center / 8px auto #fb3;}
.list_chk_box li + li {margin:12px 0 0;}
.list_chk_box .list_inner .txt {font-size:14px;color:#111;}
/* 가을야구 카드혜택 영역 */
.bg_txt_box {margin:24px 0 0;padding:20px;border-radius:12px;background-color:#f5f9ff;}
.bg_txt_box .bg_txt_inner li + li {margin:24px 0 0;}
.bg_txt_box .bg_txt_inner li .tit {display:block;margin:0 0 12px;font-size:16px;color:#5b6288;line-height:1.75;}
.bg_txt_box .bg_txt_inner li .txt {display:block;font-size:13px;color:#111;line-height:1.85;}
.bg_txt_box + .txt_blit {margin:0 0 40px;line-height:2;}
/* one, 희망플러스 step list */
[class^="mall_step_group"] {margin:40px 0 42px;padding:22px 20px;border-radius:12px;background-color:#fffcf2;}
[class^="mall_step_group"] > ul {position:relative;}
[class^="mall_step_group"] > ul > li {display:flex;margin:26px 0 0;padding:6px 0 0;}
[class^="mall_step_group"] > ul > li::after{content:'';display:block;position:absolute;top:12px;left:12px;bottom:62px;width:1px;height:93%;background-color:rgba(203, 43, 17, 0.1);}
[class^="mall_step_group"] > ul > li:first-child {margin:0;}
[class^="mall_step_group"] > ul > li:first-child::after{display:none;}
[class^="mall_step_group"] > ul > li .step_num {display: flex;justify-content:center;flex-shrink:0;align-items:center;position:relative;width:24px;height:24px;margin:-6px 0 0;border:1px solid #f2f2f2;border-radius: 50%;background-color:#fb3;box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.04);z-index:1;}
[class^="mall_step_group"] > ul > li .step_num strong{font-size:14px;font-weight:bold;color:#fff;letter-spacing:-0.3px;text-align:center;line-height:18px;}
[class^="mall_step_group"] > ul > li dl {width: calc(100% - 74px);margin:-6px 0 0 9px;}
[class^="mall_step_group"] > ul > li dl > dt.tit {margin:0 0 12px;line-height:26px;font-size:16px;font-weight:500;color:#ef9210;}
[class^="mall_step_group"] > ul > li dl dd .desc {font-size:13px;color:#111;}
.mall_step_group02 {background-color:#ffedf1;}
.mall_step_group02 > ul > li .step_num {background-color:#f74f73}
.mall_step_group02 > ul > li dl > dt.tit {color:#b21f42;}

/*********************************************************************************************************
	관심상품, 이어하기, 검색
*********************************************************************************************************/
.mall_interest_wrap {margin-top:-8px;}
.mall_interest_wrap .desc {display:block;font-size:16px;}
.mall_list_box {margin-top:16px;}
.mall_list_box > li + li {margin-top:16px;}
.mall_list_box .info_view_box {line-height:1;}
.mall_list_box .info_view_box .flag_item13 {font-size:11px;font-weight:400;border-color:#666;vertical-align:top;}
.mall_list_box .info_view_box .tit_view .tit {margin-top:12px;}
.mall_list_box .info_view_box .cont_view {margin-top:8px;line-height:1.7142rem;}
.mall_list_box .info_view_box .date {display:block;margin-top:8px;font-size:12px;color:#999;text-align:right;}
.mall_list_box .info_view_box .btn_conts_box {margin-top:24px;}
.mall_list_box .info_view_box [class^="btn_del"] {top:10px;right:10px;padding:4px;font-size:0;line-height:0;box-sizing:content-box;background-size:28px;}


/* 외환 국기아이콘 */
.currency_box {margin:0 0 40px;padding:20px 20px 0;border:1px solid #f2f2f2;border-radius:12px;box-shadow:rgb(0 0 0 / 4%) 0px 0px 12px;}
.currency_box .currency_inner {display:flex;flex-wrap:wrap;}
.currency_box .currency_inner li {width:25%;margin:0 0 20px;text-align:center;}
.currency_box .currency_inner li [class^="ico_coin"] {width:32px;height:32px;}
.currency_box .currency_inner li .txt {display:block;margin:8px 0 0;font-size:13px;font-weight:400;color:#111;}
.currency_box .currency_inner li .sub_txt {display:block;font-size:13px;font-weight:400;color:#999;}

/* Folding Box + tab*/
.details_wrap [class^="tab_fixed_box"] {margin:22px 0 -1px;}
.details_wrap .sect_bundle_box03 [class^="toggle_list_wrap"] > ul {border-top:none;}
.details_wrap .toggle_case02 .toggle_tit {padding:20px 24px;background-color:#fff;}
.details_wrap .toggle_case02 .toggle_tit .tit{font-size:16px;}
.details_wrap .sect_bundle_box03 .tab_fixed_box + .toggle_list_wrap02 {margin-top:1px;}

/* 상품안내 */
[class^="txt_sect_box"]:last-child {margin:0;}
[class^="txt_sect_box"] [class="txt_item"] {margin:12px 0 0;}
[class^="txt_sect_box"] [class="txt_item"] .txt_blit02 {padding:0 0 0 8px;}
[class^="txt_sect_box"] [class="txt_item"] .num_blit li{position:relative;padding:0 0 0 16px;}
[class^="txt_sect_box"] [class="txt_item"] .num_blit li .num{position:absolute;top:0;left:0;}
[class^="txt_sect_box"] [class="txt_item"]:first-child {margin:0;}

/* button */
[class^="mall_btn_box"] {display:flex;justify-content:space-between;margin:32px 0 0;}
[class^="mall_btn_box"] .btn_col {box-sizing:border-box;width:100%;margin:0 0 0 9px;text-align:center;}
[class^="mall_btn_box"] .btn_col:first-child {margin:0;}
[class^="mall_btn_box"] .btn_share {display:block;box-sizing:border-box;width:100%;padding:0 10px;border:1px solid #666;border-radius:8px;background-color:#fff;}
[class^="mall_btn_box"] .btn_share span {display:inline-block;padding:12px 0;font-size:14px;font-weight:500;text-align:center;color:#111;line-height:18px}
[class^="mall_btn_box"] .btn_share03::after {display:inline-block;content: '';width:24px;height:24px;margin-left:8px;background:url(/resource/img/mbe/common/ico_share03.png) no-repeat center / 100% auto;vertical-align:middle;}

/* swiper */
.swiper_wrap04 {margin:0 -4px;}
.swiper_wrap04 .swiper-wrapper .swiper-slide {padding:0 4px;}
.swiper_wrap04 .noti_card_item {display:block;box-sizing:border-box;height:100%;padding:20px 16px;border:1px solid #f2f2f2;border-radius:12px;background-color:#fff;box-shadow:0 0 12px 0 rgb(0 0 0 / 4%);}
.swiper_wrap04 .noti_card_item .title {display:block;margin:0 0 8px;font-size:16px;font-weight:500;color:#000;}
.swiper_wrap04 .noti_card_item .conts {color:#666;}